<div class="app-banner">
  <div class="app-container app-center">
    <h2>Daily</h2>
    <h5>功能菜单</h5>
  </div>
</div>
<div class="app-banner-logo">
  <a><img src="../../assets/imgs/banner-icon.png"></a>
</div>
<div class="app-container">
  <mat-grid-list cols="2" rowHeight="7:5" gutterSize="15" class="app-card-list">
    <mat-grid-tile>
      <mat-card class="example-card" (click)="cardOnClick('video')">
        <img mat-card-image class="app-index-img" src="../../assets/imgs/card2.png">
        <mat-card-content>
          <a>影视</a>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

